<ul>
<li><i class="fa fa-credit-card"></i> Budget:<br />
    
    Price: {{ node['networq:payment:budget']['price'] }} {{ node['networq:payment:budget']['currency'] }}<br />
    Type: {{ node['networq:payment:budget']['type'] }}<br />
</li>

</ul>