<ul>
<li><i class="fa fa-credit-card"></i> Rate:<br />
    
    Price: {{ node['networq:payment:rate']['price'] }} {{ node['networq:payment:rate']['currency'] }}<br />
    Type: {{ node['networq:payment:rate']['type'] }}<br />
</li>

</ul>